<!----------------------------------------------------------------------------------------------------------- Barra superior -->
<mat-toolbar>
    <button mat-icon-button (click)="menu.toggle()">
        <mat-icon>search</mat-icon>
    </button>
    <span style="margin-left: 10px;">Transacciones</span>
</mat-toolbar>

<mat-drawer-container style="height: calc(100% - 64px);">
    <mat-drawer #menu mode="side">
        <!--------------------------------------------------------------------------------------------------- Menú lateral -->
        <div class="contenedor-filtros" fxLayout="column" [formGroup]="formulario">
            <div class="titulo-filtros">Rango tiempo</div>
            <!------------------------------------------------------------------------------------- Desde -->
            <mat-form-field appearance="fill">
                <mat-label>Desde</mat-label>
                <input matInput [matDatepicker]="desde" formControlName="desde">
                <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
                <mat-datepicker #desde></mat-datepicker>
            </mat-form-field>
            <!------------------------------------------------------------------------------------- Hasta -->
            <mat-form-field appearance="fill">
                <mat-label>Hasta</mat-label>
                <input matInput [matDatepicker]="hasta" formControlName="hasta">
                <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
                <mat-datepicker #hasta></mat-datepicker>
            </mat-form-field>
            
            <div class="titulo-filtros">Categorías</div>
            <!------------------------------------------------------------------------------------- Agrupar por -->
            <mat-form-field appearance="fill">
                <mat-label>Agrupar por</mat-label>
                <mat-select [(value)]="opcionAgrupacionSeleccionada" formControlName="categoria">
                  <mat-option *ngFor="let opcion of opcionesAgrupacion" [value]="opcion.clave">
                    {{ opcion.valor }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="contenedor-principal" fxLayout="column" fxLayoutGap="25px">
            <!--------------------------------------------------------------------------------------------------- Contenido -->
            <mat-card class="balance-actual">Balance actual: <strong>$ {{ balance }}</strong></mat-card>
            <mat-card>
                <mat-card-title>Balance</mat-card-title>
                <app-balance [filtros]="filtros"></app-balance>
            </mat-card>
            <mat-card>
                <mat-card-title>Movimientos</mat-card-title>
                <app-movimientos [filtros]="filtros"></app-movimientos>
            </mat-card>
            <app-agrupamiento [filtros]="filtros" [categoria]="nombreAgrupacion"></app-agrupamiento>
            <mat-expansion-panel class="panel-datos">
                <mat-expansion-panel-header>
                    <mat-panel-title>Historial de transacciones</mat-panel-title>
                </mat-expansion-panel-header>
            
                <app-tabla [columnas]="columnasTransacciones" [datos]="transacciones"></app-tabla>
            </mat-expansion-panel>
        </div>
    </mat-drawer-content>
</mat-drawer-container>